<% title "Настройки аккаунта" %>
<h2>Настройки аккаунта</h2>
<%= devise_error_messages! %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: "form-horizontal"}) do |f| %>

    <div class="form-group">
      <%= f.label :email, "E-mail", class: "col-md-2 control-label" %>

      <div class="col-md-5">
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p class="help-block">В настоящий момент адрес <code><%= resource.unconfirmed_email %></code> ожидает подтверждения</p>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, "Пароль", class: "col-md-2 control-label" %>

      <div class="col-md-5">
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        <% if @minimum_password_length %>
            <p class="help-block">Минимальное количество символов &mdash; <%= @minimum_password_length %>.</p>
        <% end %>
        <p class="help-block">Оставьте поле пустым, если не хотите менять пароль.</p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Повтор пароля", class: "col-md-2 control-label" %>

      <div class="col-md-5">
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :current_password, "Текущий пароль", class: "col-md-2 control-label" %>

      <div class="col-md-5">
        <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
        <p class="help-block">Укажите Ваш текущий пароль, чтобы подтвердить изменения</p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-11">
        <%= f.submit "Сохранить", class: "btn btn-default" %>
        <%= button_to "Удалить мой аккаунт", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
<% end %>