<% title "Регистрация" %>
<h2>Регистрация</h2>
<%= devise_error_messages! %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
    <div class="form-group">
      <%= f.label :email, "E-mail", class: "col-md-2 control-label" %>

      <div class="col-md-5">
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, "Пароль", class: "col-md-2 control-label" %>

      <div class="col-md-5">
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        <% if @minimum_password_length %>
            <p class="help-block">Минимальное количество символов &mdash; <%= @minimum_password_length %></p>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Повтор пароля", class: "col-md-2 control-label" %>

      <div class="col-md-5">
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-11">
        <%= f.submit "Зарегистрироваться", class: "btn btn-default" %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
<% end %>
