<% title "Отправка инструкций по разблокировке" %>
<h2>Отправка инструкций по разблокировке</h2>
<%= devise_error_messages! %>
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: {method: :post, class: "form-horizontal"}) do |f| %>

    <div class="form-group">
      <%= f.label :email, "E-mail", class: "col-md-1 control-label" %>

      <div class="col-md-5">
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-11">
        <%= f.submit "Отправить мне инструкции по разблокировке", class: "btn btn-default" %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
<% end %>
