<% title "Смена пароля" %>
<h2>Смена пароля</h2>
<%= devise_error_messages! %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, class: "form-horizontal"}) do |f| %>

    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, "Новый пароль", class: "col-md-2 control-label" %>

      <div class="col-md-5">
        <%= f.password_field :password, password: true, class: "form-control", autocomplete: "off" %>
        <% if @minimum_password_length %>
            <p class="help-block">Минимальное количество символов &mdash; <%= @minimum_password_length %></p>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Повтор пароля", class: "col-md-2 control-label" %>

      <div class="col-md-5">
        <%= f.password_field :password_confirmation, password: true, class: "form-control", autocomplete: "off" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Сменить пароль", class: "btn btn-default" %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
<% end %>
