<%= form_for([:admin, @post], html: {class: "form-horizontal"}) do |f| %>
    <div class="form-group">
      <%= f.label :title, "Заголовок", class: "col-md-2 control-label" %>

      <div class="col-md-5">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :announcement, "Анонс", class: "col-md-2 control-label" %>

      <div class="col-md-5">
        <%= f.text_area :announcement, class: "form-control", rows: 10 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :content, "Контент", class: "col-md-2 control-label" %>

      <div class="col-md-5">
        <%= f.text_area :content, class: "form-control", rows: 10 %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-11">
        <%= f.submit "Сохранить", class: "btn btn-default" %>
        <% if @post.persisted? %>
            <%= link_to 'Показать пост', @post, class: "btn btn-link" %>
            <%= link_to 'Удалить',  [:admin, @post],  method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-link" %>
        <% end %>
      </div>
    </div>
<% end %>
