<% title "Вход" %>
<h2>Вход</h2>
<%= flash_messages %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
    <div class="form-group">
      <%= f.label :email, "E-mail", class: "col-md-1 control-label" %>

      <div class="col-md-5">
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, "Пароль", class: "col-md-1 control-label" %>

      <div class="col-md-5">
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-5">
            <div class="checkbox">
              <label>
                <%= f.check_box :remember_me %> Запомнить меня
              </label>
            </div>
          </div>
        </div>
    <% end -%>

    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-11">
        <%= f.submit "Войти", class: "btn btn-default" %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
<% end %>
